# Entornos virtuales
Producto/venv/
Producto/dani-project-back/venv/
venv/

# Variables de entorno y llaves (Evitar subir credenciales)
.env
Producto/dani-project-back/.env
Producto/dani-project-front/.env.production

# Python caché
__pycache__/
*.pyc

# Node
node_modules/
dist/
.eslintcache

# Documentación local (no subir)
Documentación/Guia_Defensa_Ejecucion_Local.md
.venv/
